body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}
.all-nav {
    margin: 15px 10px 0px 10px;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    margin: 0px 5px 5px 5px;
}
a:hover {
    text-decoration: underline;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

#google-image{
    display: flex;
    align-self: center;
    padding-top: 80px;
    /* padding-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
}

#search-field {
    display: flex;
    margin: 25px auto 25px auto;
    width: 400px;
    padding: 5px 5px;
    padding-left: 5px;
    border-radius: 25px;
    border-style: solid;
}
#buttons {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#search-button {
    margin-right: 10px;
}

#fr-support {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    display: flex;
    flex-direction: column;
    background: lavender;
    margin: 0px 10px 15px 10px;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}
